# Common
*target*
*.jar
!gradle-wrapper.jar
*.war
*.ear
*.class

# Gradle
.gradle

# Idea
.idea
*.iml
target
build
out

# Eclipse 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builder 
.externalToolBuilders/

# Locally stored "Eclipse launch configuration"
*.launch

# Log file
logs

# JRebel file
rebel.xml


